.Cartcontainer{
  display:flex;
  flex-direction: column;
  min-height:80%;
  /* height: 100vh; 100% Full-height */
  padding-left: 10px;
  padding-right: 10px;
  position: fixed; /* Stay in place */
  z-index: 200; /*puts it on top*/
  right: -100%; /*Hides it*/
  width: 400px;
  color: white;
  background-color: #c5c3c6;
  padding-top: 20px; /* Place content 60px from the top */
  animation: slide-open 0.85s forwards;  

}

.Cartcontainer.close{
  right: 0;
  animation: slide-close 1.0s forwards;
  
}
.closecontainer{
  align-self: flex-end;
  padding-bottom: 30px;
}
.carticoncontainer{
  background-color: #FCA311;
  border-radius: 50%;
  align-self: center;
  padding: 25px 25px;
  font-size: 20px;
  font-weight: bold;
}
@keyframes slide-open{
  100%{ right: 0 }
}
@keyframes slide-close{
  100%{ right: -100% }
}
/* .bttncontainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
} */

 .Cardscontainer{
  margin-top: 40px;
  height: 60%;
  max-height: 500px;
  overflow: auto;
}
.Cartcontainer ul{
  padding-top: 20px;
  /* padding-bottom: 20px; */
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  border: #000 solid 1px;
  height: 100%;
  flex-direction: column-reverse;
  background-color: white;
}

/* .teste-teste{
  display: inherit;
  flex-direction: row-reverse;
  padding-bottom: 20px;

} */

.Cardscontainer ul li{
  padding-bottom: 10px;
}


.checkout{
  font-weight: 500;
  align-self: flex-end;
  width: 100%;
  margin: auto 5px;
  padding-bottom: 10px;
}
.total{
  justify-content: flex-end;
}
.checkout button{
  width: 100%;
  padding: 20px;
}
/*
TODO: 
fix closing FloatCart
https://www.youtube.com/watch?v=17g0QZXRfQk

*/