.itemcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #eff7f6;
  color: #000;
  
  border: #000 solid 1px;
}
/* .remove{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-color:yellow;
  padding: 10px 10px; 
} */
.removebttn{
  display: inherit;
  flex-direction: column;

  background-color: #f94144;
}
.itemname{
  font-size: 20px;
  align-self: center;
}
.itemprice{
  font-size: 30px;
  align-self: center;
}
.itemimg{
  border-right: #000 solid 1px;
  display: inherit;
  flex-direction: row;
  justify-content: center;
  
}