*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #DDD;
  /* width: 100vh; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
 
}
/* body{
  font-size: 10px;
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", monospace;
  background-color: #EEE ;
} */
.container{

  margin: 20px auto;
  padding-top: 20px;
  font-size: 18px;
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", monospace;
  background-color: indigo;
  
 
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center; */

}
main {
  width: 100%;
  /* max-width: 960px; */
  margin: 0 auto;
}


