*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #DDD;

}
/* body{
  font-size: 10px;
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", monospace;
  background-color: #EEE ;
} */
.container{
  font-size: 18px;
  -webkit-font-smoothing: none;
  font-family: "pokemon-font", monospace;
  
  
  /* display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center; */

}
main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}


